#profile-container {
  transition: 0.4s;
}

#profile-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

nav {
  max-width: 1000px;
  transition: 0.8s;
}

.close-nav {
  max-width: 65px;
  transition: 0.4s;
}

@keyframes open-nav {
  from {
    max-width: 0;
  }

  to {
    max-width: 1000px;
  }
}
